body {
  background: #2c71b8 url(../img/patt.png) repeat top center fixed;
  color: #fff;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.header-navbar {
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: rgba(255, 255, 255, 0.8);
}

.header-navbar-nav-link {
  color: #2c71b8;
  font-size: 21px;
  border-right: 1px solid #2c71b8;
}

.header-form-search {
  margin: 0 30px;
  height: 40px;
  border: 1px solid #2c71b8;
}

.header-form-search .form-control {
  color: #2c71b8;
  font-size: 21px;
  padding-bottom: 8px;
  width: 160px;
  border: none;
  background-color: transparent;
  font-weight: 300;
}

.header-form-search .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header-form-search .form-control::-webkit-input-placeholder {
  color: #2c71b8;
}

.header-form-search .btn {
  border-color: #fff;
  border-radius: 0;
  background-color: #2c71b8;
  color: #fff;
  margin: 5px;
  padding: 0;
  width: 30px;
  height: 30px;
}

.header-form-search .btn i {
  font-size: 14px;
}

.header-form-search .btn:hover {
  border-color: #2c71b8;
  background-color: #fff;
  color: #2c71b8;
}

.header-form-search .btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header-carousel {
  border-bottom: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.nav-item:first-child {
  border-left: 1px solid #2c71b8;
}

.navbar-light .navbar-nav .nav-link {
  padding-right: 25px;
  padding-left: 25px;
  color: #2c71b8;
  white-space: nowrap;
}

.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}

.dropdown.show {
  background-color: #2c71b8;
}

.dropdown-menu {
  left: -1px;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: #2c71b8;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  color: #2c71b8;
}

.btn-shop {
  padding: 0;
  width: 40px;
  height: 40px;
  border-color: #fff;
  border-radius: 0;
  background-color: #fff;
  color: #2c71b8;
  text-align: center;
  font-size: 20px;
}

.btn-shop:hover {
  border-color: #fff;
  background-color: #2c71b8;
  color: #fff;
}

.carousel-caption h3 {
  font-size: 100px;
}

.sidebar-wrapper {
  padding: 15px 30px 30px;
  border-right: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.25);
  font-size: 21px;
  line-height: 40px;
}

.sidebar-form a {
  display: block;
  margin: 5px 0 15px;
  color: #fff;
  text-align: center;
}

.sidebar-form a:hover {
  color: #0056b3;
}

.sidebar-form__btn {
  border-color: #fff;
  border-radius: 0;
  background-color: #2c71b8;
  color: #fff;
  height: 50px;
  text-transform: uppercase;
  font-size: 21px;
}

.sidebar-form__btn:hover {
  background-color: #fff;
  color: #2c71b8;
}

.sidebar-form-group {
  margin-bottom: 40px;
}

.sidebar-form-group legend {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
}

.sidebar-form-group__check {
  position: relative;
}

.sidebar-form-group__check input[type=checkbox] {
  display: none;
}

.sidebar-form-group__check label:after {
  position: absolute;
  top: 15px;
  left: 0;
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  content: '';
}

.sidebar-form-group__check input[type=checkbox]:checked + label:after {
  background-color: #fff;
}

.breadcrumb {
  margin-bottom: 5px;
  padding-left: 0;
  background-color: transparent;
}

.breadcrumb-item {
  font-size: 14px;
  opacity: 0.5;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
  content: ">";
}

.breadcrumb-item a {
  color: #fff;
}

.breadcrumb-item.active {
  color: #fff;
  text-decoration: underline;
}

.dropdown-filter .dropdown-toggle {
  border-color: #fff;
  border-radius: 0;
  background-color: #2c71b8;
  color: #fff;
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: left;
  font-weight: 300;
}

.dropdown-filter .dropdown-toggle:hover {
  background-color: #fff;
  color: #2c71b8;
}

.dropdown-filter .dropdown-toggle::after {
  position: absolute;
  top: 16px;
  right: 14px;
}

.dropdown-filter-menu {
  width: 100%;
  border: 1px solid #fff;
}

.dropdown-filter-menu .dropdown-item {
  padding-right: 0;
  padding-left: 12px;
  font-weight: 300;
}

.dropdown-filter-menu .dropdown-item.active {
  background-color: #fff;
  color: #2c71b8;
}

.show > .btn-secondary.dropdown-toggle {
  border-color: #fff;
  border-radius: 0;
  background-color: #2c71b8;
  color: #fff;
}

.show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.main-content {
  margin-top: 43px;
}

.main-content-item {
  margin-bottom: 30px;
}

.main-content-item-wrapper {
  border: 1px solid #fff;
}

.main-content-item__image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.75);
}

.main-content-item__image button {
  padding: 0px;
  width: 30px;
  height: 30px;
  border-color: #2c71b8;
  border-radius: 0;
  color: #2c71b8;
  text-align: center;
}

.main-content-item__image button:hover {
  background-color: #2c71b8;
}

.main-content-item__image__arrows {
  position: absolute;
  top: 10px;
  right: 10px;
}

.main-content-item__image__heart {
  position: absolute;
  top: 50px;
  right: 10px;
}

.main-content-item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 15px;
  background-color: rgba(44, 113, 182, 0.7);
  font-size: 16px;
}

.main-content-item__text__title {
  font-size: 24px;
}

.main-content-item__text__type {
  margin-top: 5px;
}

.main-content-item__text__type__title {
  text-transform: uppercase;
  font-weight: 500;
}

.main-content-item__text__price {
  -ms-flex-item-align: center;
  align-self: center;
  margin: 15px 0;
  font-weight: bold;
  font-size: 48px;
}

.main-content-item__text__btn-details, .main-content-item__text__btn-add {
  border-color: #fff;
  border-radius: 0;
  background-color: #2c71b8;
  color: #fff;
  margin: 7.5px;
  width: calc(100% - 15px);
  text-transform: uppercase;
}

.main-content-item__text__btn-details:hover, .main-content-item__text__btn-add:hover {
  background-color: #fff;
  color: #2c71b8;
}

.main-content-item__text__btn-add {
  background-color: rgba(137, 185, 234, 0.5);
}

.main-content-item__text__btn-add i {
  font-size: 18px;
}

.main-content-navigation-load {
  margin-bottom: 80px;
  text-align: center;
}

.main-content-navigation-load a {
  color: #fff;
  font-size: 36px;
  line-height: 40px;
}

.footer-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.footer-page-text {
  color: #2c71b8;
  font-size: 21px;
}

@media (max-width: 1199px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 10px;
    padding-left: 10px;
  }
  .main-content-item__text__price {
    font-size: 36px;
  }
  .main-content-item__text__btn-details, .main-content-item__text__btn-add {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  .sidebar-wrapper {
    border-top: 1px solid #fff;
    border-right: 0;
    background-color: transparent;
  }
  .nav-link {
    border: 0;
  }
  .nav-item:first-child {
    border: 0;
  }
  .header-form-search {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 0;
    width: calc(100% - 100px);
  }
  .header-form-search .form-control {
    width: calc(100% - 40px);
  }
  .btn-shop {
    margin-bottom: 6px;
  }
}

/*# sourceMappingURL=style.css.map */